* {
    text-align: justify;
}

:root {
    /* Colores */
    --gris: #c9c9c8;
    --gris-claro: #e7e9ea;
    --gris-oscuro: #393939;
    --amarillo: #f4ed06;
    --azul: #003b71;
    --negro: #000000;
    --focalizador: #faf7d0;
    --codigo: #d73a49;

    /* Tamaño A4 */
    --page-width: 210mm;
    --page-height: 297mm;
}

pre:has(code) {
    padding: 5pt;
    background-color: var(--gris-claro);
    border: 1px solid var(--gris-oscuro);
    /* Importante para evitar desbordamiento */
    white-space: pre-wrap;
    border-radius: 3px;

}

code {
    background-color: var(--gris-claro);
    font-size: 8pt;
    padding: 2px 4px;
    border-radius: 3px;
}

pre,
code {
    break-inside: avoid;
}

pre code {
    background: none;
    padding: 0;
}