:root {
    /* Colores */
    --gris: #c9c9c8;
    --gris-claro: #e7e9ea;
    --gris-oscuro: #393939;
    --amarillo: #f4ed06;
    --azul: #003b71;
    --negro: #000000;

    /* Tamaño A4 */
    --page-width: 210mm;
    --page-height: 297mm;
}

@page {
    size: A4 portrait;

    @bottom-center {
        content: counter(page);
        font-weight: 600;
        font-size: 10pt;
        color: var(--gris);
    }
}

/* Menú de semanas */

@page menu-semanas {
    margin-top: 60px;

    @top-left {
        content: element(header);
    }
}

.contenedor {
    page: menu-semanas;
}

.menu-semanas {
    position: running(header);
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    padding: 15px;
}

.menu-semanas .titulo-semana {
    font-weight: bold;
}

.menu-semanas a {
    padding: 0.2cm;
    margin: 0 0.1cm;
    border-radius: 4px;
    font-weight: 400;
    text-decoration: none;
    background: var(--gris-claro);
    color: var(--gris-oscuro);
    border-bottom: 1px solid var(--gris);
}