<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

<div class="barra-gris"></div>

<div class="menu-lateral">
    <a href="#portada"><img src="assets/img/ic_portada.png" alt="Portada"></a>
    <a href="#indice_contenidos"><img src="assets/img/ic_indice.png" alt="Índice"></a>
    <a href="#contenidos"><img src="assets/img/ic_contenido.png" alt="Contenido"></a>
</div>

<img class="logo" src="assets/img/logo_negro.png" alt="Logo UTPL">
<div id="portada" class="portada">
    <h1 id="maestria">{{maestria}}</h1>
    <h2 id="curso">{{modulo}}</h2>
    <h3>Guía didáctica</h3>
</div>
<div class="datos-generales">
    <img class="logo" src="assets/img/logo_negro.png" alt="Logo UTPL">
    <h1 id="facultad">Facultad de {{facultad}}</h1>
    <h2>{{maestria}}</h2>
    <h3><strong>Módulo. </strong>{{modulo}}</h3>
    <h3>Guía didáctica</h3>
    <div class="contenedor-tabla">
        <table class="tabla-datos">
            <thead>
                <tr>
                    <th>Ciclo</th>
                    <th>Bimestre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ciclo}}</td>
                    <td>{{bimestre}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
        <strong>Autora:</strong>
        <br>
        {{autor}}
    </p>
    <div class="contenedor-fila">
        <p class="barra">{{codigo}}</p>
        <p><a href="https://utpl.edu.ec/posgrados" target="_blank" title="Posgrados UTPL">utpl.edu.ec/posgrados</a></p>
    </div>
</div>
<div class="creditos">
    <h1 id="maestria">{{maestria}}</h1>
    <p><strong>Guía didáctica</strong></p>
    <p>{{autor}}</p>
    <p><strong>Diagramación y diseño digital:</strong></p>
    <p>Ediloja Cía. Ltda.</p>
    <p>San Cayetano Alto s/n</p>
    <p><a href="http://www.ediloja.com.ec" title="Página web de Ediloja" target="_blank">www.ediloja.com.ec</a></p>
    <p><a href="mailto:edilojacialtda@ediloja.com.ec" target="_blank">edilojacialtda@ediloja.com.ec</a></p>
    <p>Loja-Ecuador</p>
    <p>ISBN digital:</p>
    <p style="text-align: center;"><img src="assets/img/licencia.png" alt="Licencia Creative Commons"
            style="max-width: 600px;"></p>
    <p>Los contenidos de este trabajo están sujetos a una licencia internacional Creative Commons
        Reconocimiento-NoComercial-CompartirIgual 4.0 (CC BY-NC-SA 4.0). Usted es libre de Compartir — copiar y
        redistribuir el material en cualquier medio o formato. Adaptar — remezclar, transformar y construir a partir del
        material citando la fuente, bajo los siguientes términos: Reconocimiento- debe dar crédito de manera adecuada,
        brindar un enlace a la licencia, e indicar si se han realizado cambios. Puede hacerlo en cualquier forma
        razonable, pero no de forma tal que sugiera que usted o su uso tienen el apoyo de la licenciante. No
        Comercial-no puede hacer uso del material con propósitos comerciales. Compartir igual-Si remezcla, transforma o
        crea a partir del material, debe distribuir su contribución bajo la misma licencia del original. No puede
        aplicar términos legales ni medidas tecnológicas que restrinjan legalmente a otras a hacer cualquier uso
        permitido por la licencia. <a title="Creative Commons Reconocimiento-NoComercial-CompartirIgual 4.0"
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
            target="_blank">https://creativecommons.org/licenses/by-nc-sa/4.0/</a>
    </p>
    <p><strong>Agosto, 2024</strong></p>
</div>